name: Test Go

on:
  workflow_call:
    inputs:
      go-version:
        description: Override the Go version.
        required: false
        type: string
        default: "{{ go_version }}"
      working-directory:
        description: Directory to run in. Set this per package in a monorepo.
        required: false
        type: string
        default: "."

permissions:
  contents: read

{%- set runners = ci_os_matrix or ['ubuntu-latest'] %}
jobs:
  test:
    name: Test
{%- if runners|length > 1 or ci_version_matrix %}
    strategy:
      fail-fast: false
      matrix:
{%- if runners|length > 1 %}
        os: [{% for os in runners %}{{ os }}{{ ", " if not loop.last }}{% endfor %}]
{%- endif %}
{%- if ci_version_matrix %}
        go-version: [{% for v in ci_version_matrix %}"{{ v }}"{{ ", " if not loop.last }}{% endfor %}]
{%- endif %}
    runs-on: {{ '${{ matrix.os }}' if runners|length > 1 else runners[0] }}
{%- else %}
    runs-on: {{ runners[0] }}
{%- endif %}
    defaults:
      run:
        working-directory: ${{ '{{' }} inputs.working-directory }}
    steps:
      - uses: actions/checkout@v7

      - uses: ./.github/actions/setup-go
        with:
{%- if ci_version_matrix %}
          go-version: ${{ '{{' }} matrix.go-version }}
{%- else %}
          go-version: ${{ '{{' }} inputs.go-version }}
{%- endif %}

      - name: Test
        run: go test {{ '-race ' if go_race }}{{ '-coverprofile=coverage.out ' if go_coverage }}./...
